.App {
  position: relative;
}

.Element-Buttons {
  display: flex;
  justify-content: center;
  
  top: 50px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

.elements {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.h1Element {
  /* border-width: 0.5rem;
  border-radius: 0.5rem;
  border-color: black;
  border-style: solid;
  padding: 1rem; */
  font-size: larger;
  font-weight: bold;
}

.pElement {
  padding: 2rem;
}